$color__white01: #FFFFFF;
$color__white02: #B6B7C0;
$color__white03: #747885;
$color__button__green01: #a4cc27;
$color__button__green02: #6aa608;
$color__background__blue--dark: #20283b;
$fontFamily__DaxlineProRegular: 'DaxlineProRegular';
$fontFamily__DaxlineProExtraBold: 'DaxlineProExtraBold';
$fontFamily__DaxlineProLight: 'DaxlineProLight';
$screen__minDesktopSize: '769px';
$screen__maxMobileSize: '768px';